@media (min-width: 768px) and (max-width: 992px) {
    .randevu-icerik {
        margin-top: 2rem;
    }

    .slider {
        margin-bottom: 8rem;
    }

    .aciklama {
        margin-top: 25rem;
        margin-bottom: 1rem;

        .aciklama-resim {
            img {
                width: 40%;
                height: auto;
            }
        }
    }
}

@media (max-width: 768px) {
    .aciklama {
        .aciklama-resim {
            img {
                width: 50%;
            }
        }
    }

    .ikinci-icerik {
        border: 0;

        .baslik {
            justify-content: center;
        }

        .ikinci-icerik-items {
            margin-bottom: 1rem;
        }
    }
}

//* hakkimizda
@media(max-width: 1200px) {
    #hakkimizda {
        text-align: center;

        .mobilHakkimizda {
            margin-top: -2rem;

            p {
                line-height: 30px;
            }
        }
    }
}

//* hizmetler
@media(max-width: 1200px) {
    #hizmetlerimiz {
        .webTasarim {
            -webkit-border-bottom-right-radius: 0;
            -moz-border-radius-bottom-right: 0;
            border-bottom-right-radius: 0;
            -webkit-border-bottom-left-radius: 0;
            -moz-border-radius-bottom-left: 0;
            border-bottom-left-radius: 0;
            margin-bottom: 1.5rem;
            max-height:65rem;
        }

        .ozel-yazilim {
            -webkit-border-top--radius: 0;
            -moz-border-radius-top-right: 0;
            border-top-right-radius: 0;
            -moz-border-radius-top-left: 0;
            -webkit-border-top-left-radius: 0;
            border-top-left-radius: 0;
            -webkit-border-bottom-left-radius: 0;
            -moz-border-radius-bottom-left: 0;
            border-bottom-left-radius: 0;
            -webkit-border-bottom-right-radius: 0;
            -moz-border-radius-bottom-right: 0;
            border-bottom-right-radius: 0;
            margin-bottom: 1.5rem;
        }

        .sosyal-medya {
            -webkit-border-top-right-radius: 0;
            -moz-border-radius-top-right: 0;
            border-top-right-radius: 0;
            -webkit-border-top-left-radius: 0;
            -moz-border-radius-top-left: 0;
            border-top-left-radius: 0;
        }
    }
    #iletisim{
        .iletisimForm{
            .btn-wrap{
                justify-content: center;
            }
        }
    }
    .slider{
        .mobilGiris{
           margin-top: -15rem;
           text-align: center;
           display: flex;
           justify-content: space-evenly;
           align-items: center;
           background-color: #2222229f;
           height: 80%;
        }
    }
}


@media(max-width: 991px) {
    #hizmetlerimiz {
        .webTasarim {
            -webkit-border-bottom-right-radius: 0px;
            -moz-border-radius-bottomright: 0px;
            border-bottom-right-radius: 0px;
        }
    }
}

@media (max-width: 768px) {
    #hizmetlerimiz {
        .webTasarim {
            text-align: center;
            height: 45rem;
        }
    }
}